.chartContainer{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: rgb(235, 230, 230);
    border-radius: 5px;
    margin-bottom: 20px;
    .chartWrapp{
        margin-left: -20px;
    }

    .chartTitle{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 500px){
    .chartContainer{
        margin-top: -20px;
    }
}