.widgetSmContainer{
    flex: 1.5;
    background-color: rgb(235, 230, 230);
    border-radius: 5px;
    padding: 20px;

    .widgetSmTitle{
        margin-bottom: 1rem;
    }

    .newMemberWrap{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;

        .newMemberLeft{
            display:flex;
            align-items: center;
            .newMemberImg{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 20px;
                object-fit: cover;

                &:hover{
                    cursor: pointer;
                }
            }
    
            .newMemberInfo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .newMemberName{
                    font-weight: 600;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .newMemberJob{
                    color: grey;
                }
            }
        }

        .newMemberButton{
            display: flex;
            align-items: center;

            &:hover{
                cursor: pointer;
            }

            .newMemberButtonIcon{
                margin-right: 10px;
            }
        }
    }
}